body{
  height:100vh;
  background-color: black;
  color: white;
}
.Movie{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px white;
  padding: 10px;
  border-radius: 10px;
}
.poster{
  height: 270px;
  width: 200px;
}
.App{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:30px;
  justify-content: space-evenly;
}

h3{
  margin:0px;
  text-align: center;
}
.main{
  align-items: center;
}

.addMovie{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  align-items: stretch;
  width:50%;
  margin: auto;
  margin-bottom: 20px;

}
.movieButton{
  font-weight: bold;
}
.flexThumb{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap:2px;
}
.Likes{
  display: flex;
  flex-direction: row;
  gap:20px;
}