body{
  height:100vh;
}
.Movie{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px solid black;
}
.poster{
  
  height: 270px;
  width: 200px;
}
.App{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:30px;
}

h3{
  margin:0px;
  text-align: center;
}
.main{
  align-items: center;
}

.addMovie{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap:10px;
  margin-bottom: 2rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
}
button{
  width:30%;
  margin: auto;
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
}