body{
  height:100vh;
}
.Movie{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px solid black;
}
.poster{
  height: 270px;
  width: 200px;
}
.App{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:30px;
}

h3{
  margin:0px;
  text-align: center;
}
.main{
  align-items: center;
}

.addMovie{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  align-items: stretch;
  width:50%;
  margin: auto;

}
.movieButton{
  font-weight: bold;
}